*{
	margin: 0;
	padding: 0;
}
#canvas{
	background: url(../img/bg_-sheet0.png);
	background-size: auto 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0px 0px 10px #29b7f9;
	border-radius: 14px;
}
body{
	background-color: black;
}
